@model GraduationHub.Web.Models.Students.StudentExpressionModel
@{
    Layout = "";
}

<p>Please tell us a little more about you, what your passions are that God has placed in your life. Where do you feel He is leading you?</p>


<div ng-controller="studentBiographyController"
     ng-init='init(@Html.Json(Model))'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 ng-click="edit()" class="panel-title text-right" style="cursor: pointer">
                <span ng-cloak ng-hide="editing" class="glyphicon glyphicon-pencil"></span> My Biography
            </h3>
        </div>
        <div class="panel-body">

            <textarea id="myBiography" class="form-control" rows="7" ng-readonly="!editing" ng-model="biography.text"></textarea>

            <span ng-cloak ng-hide="!editing" class="help-block text-right">You have <span id="myBiographyCounter"></span> of 200 words remaining.</span>

            <div class="form-group" ng-cloak ng-hide="!editing">
                <div>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>