@model dynamic

@{
    ViewBag.Title = "Expressions Of Thanks";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div>
    <i class="fa fa-file-text-o fa-5x pull-left "></i>
    <h2>Expression of Thanks</h2>
    <p>This is where you say all of your "Thanks" to God, family, friends, teachers...etc.</p>
    <p><em>These will be published in the graduation programs. Please keep your text between <strong>75 - 100 words.</strong></em></p>
</div>
<hr />
