@model GraduationHub.Web.Models.Students.StudentInformationModel

<div class="row">
    <div class="col-md-3">
        <div>
            <img class="img-responsive img-thumbnail" src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <div class="caption">
                    <a href="#" class="btn btn-primary btn-xs">Download Senior Portrait <span class="glyphicon glyphicon-download-alt"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>Diploma Name</dt>
            <dd>Joe Student</dd>
            <dt>Address</dt>
            <dd>1234 Apple Wood Lane</dd>
            <dt>Student Email</dt>
            <dd>JoeStudent@gmail.com</dd>
            <dt>Parent Email</dt>
            <dd>MomAndDad@gmail.com</dd>
            <dt>Fine Arts</dt>
            <dd>Yes</dd>
            <dt>Academic Classes</dt>
            <dd>Yes</dd>
            <dt>KEYS World View</dt>
            <dd>Yes</dd>
            <dt>Approved World View</dt>
            <dd></dd>
            <dt>KEYS Graduation</dt>
            <dd>Yes</dd>
            <dt>Announcements</dt>
            <dd>Yes</dd>
            <dt>Cap & Gown</dt>
            <dd>Yes</dd>
            <dt>Height</dt>
            <dd>6'2"</dd>
        </dl>
    </div>
</div>
<h2>Pictures</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <a href="#" class="btn btn-primary btn-xs">Download Baby <span class="glyphicon glyphicon-download-alt"></span></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <a href="#" class="btn btn-primary btn-xs">Download Toddler <span class="glyphicon glyphicon-download-alt"></span></a>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <a href="#" class="btn btn-primary btn-xs">Download Elementary <span class="glyphicon glyphicon-download-alt"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <a href="#" class="btn btn-primary btn-xs">Download Middle School <span class="glyphicon glyphicon-download-alt"></span></a>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="../../Content/Images/male_silhouette.png" alt="" />
            <div class="caption">
                <a href="#" class="btn btn-primary btn-xs">Download High School <span class="glyphicon glyphicon-download-alt"></span></a>

            </div>
        </div>
    </div>
</div>

<h2>Biography</h2>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

</p>
<a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit </a>

<h2>Expression of Thanks</h2>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>
<a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit </a>
<h2>Slide Show</h2>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>
<a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit </a>