@import "\Bootstrap\bootstrap.less";
@import "variables.less";

@import "bootswatch.less";

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select {
    max-width: 280px;

}
    */
textarea{
    max-width:560px;
    resize: none;
}

.alert-container {
	position: fixed; 
	left:0; 
	right:0; 
	padding-left: 3em;
	padding-right: 3em;
    z-index:100
}

.gravatar {
    margin-top: 9px;
    margin-right: 2px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}

.error{
    color:@btn-danger-bg;

}