
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-bordered" id="invitations">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Graduating Class Description
            </th>
            <th>
                Email
            </th>
            <th>
                Has Been Redeemed
            </th>
            <th>
                Has Been Sent
            </th>
        </tr>
    </thead>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/datatables")

    <script>
        $(document).ready(function () {
            $('#invitations').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "Invitations/IndexTable"
                },
                columns: [
                    { data: "studentName" },
                    { data: "graduatingClassDescription" },
                    { data: "email" },
                    { data: "hasBeenRedeemed" },
                    { data: "hasBeenSent" }
                ]

            });
        });
    </script>
}
