@model GraduationHub.Web.Domain.StudentPictureType

@{
    ViewBag.Title = "Baby Picture";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <i class="fa fa-picture-o fa-5x pull-left "></i>
    <h2>Baby Picture</h2>
    <p>If you do not have the capability to scan old photos that may not be in digital format, please write your name on the back of the photo and put them in an envelope in Cindy Bryan's mailbox in the KEYS office. <em>The baby picture and senior portrait will be in the yearbook and all 6 will be in the senior slideshow.</em></p>

</div>
<hr />
@Html.Partial("_PhotoUpload", Model)

