@model GraduationHub.Web.Domain.StudentPictureType

@{
    ViewBag.Title = "Last One";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <i class="fa fa-picture-o fa-5x pull-left "></i>
    <h2>Elementary Picture</h2>
    <p>If you do not have the capability to scan old photos that may not be in digital format, please write your name on the back of the photo and put them in an envelope in Cindy Bryan's mailbox in the KEYS office. <em>If you are not graduating with KEYS, this picture is not required.</em></p>

</div>
<hr />

@Html.Partial("_PhotoUpload", Model)

