@model dynamic

@{
    ViewBag.Title = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <h2>Graduation Ceremony Frequently Asked Questions</h2>
    <p>Please read the following FAQs carefully as they may answer your question.</p>
</div>

<hr />
<div class="media">

    <div class="media-body">
        <h4 class="media-heading">How many guests may attend?</h4>
        <p>
            Up to 12 per graduate
        </p>
    </div>
</div>
<div class="media">

    <div class="media-body">
        <h4 class="media-heading">What do graduates wear?</h4>
        <p>
            Something nice and don’t forget your graduation cap and gown. Bobby pins to hold the hat in place are also very helpful.
        </p>
    </div>
</div>
<div class="media">

    <div class="media-body">
        <h4 class="media-heading">How long will parents have to speak when presenting the diploma?</h4>
        <p>
            Parents will be given TWO MINUTES to bless and encourage their student. We strongly advise that you write, practice, and time what you will say so that you will be articulate and timely during this cherished and emotional moment with your graduate. Don’t forget to bring your speech with you to the ceremony. At the 2 minute mark we will cue the music to remind you to wrap it up. When you finish, turn the tassel and award the diploma. (Tassel instructions come with the caps.)
        </p>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">How do parents know when it is their turn to go up?</h4>
        <p>
            Students will be awarded diplomas as listed alphabetically in the program. Parents will line up on the grand piano side of the stage 2-3 graduates before it is their turn, then exit on the opposite side of the stage.

        </p>
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">What is a display board and does everyone have to make one?</h4>
        <p>
            A display board is a way to show others special pictures or memories you have had growing up. Each person will have about 3’x3’ to display pictures and other memorabilia. Some students even leave a guest book or their yearbook for people to sign. Guests may also use this as a way to leave graduates gifts or cards. Yes, we would like everyone to participate in this special exhibit.
        </p>
    </div>
</div>