@model dynamic

@{
    ViewBag.Title = "Important Dates";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <i class="fa fa-calendar fa-5x pull-left "></i>
    <h2>Important Dates</h2>
    <p>Please read this carefully and refer to it often as <em>there are many important due dates and meetings.</em></p>
</div>

<hr/>
<div class="media" >

    <div class="media-body">
        <h4 class="media-heading">September 25th</h4>
        First Senior meeting with students and parents at 11:40 in the Fellowship Hall. Please bring your lunch. This is a very important meeting to go over due dates for materials, vote on the class color and decide where to take the Senior Class Picture
    </div>
</div>
<div class="media">

    <div class="media-body">
        <h4 class="media-heading">October 17th</h4>
        Senior Class Picture (Rain date: October 24th)
    </div>
</div>
<div class="media">

    <div class="media-body">
        <h4 class="media-heading">October 30th</h4>
        <b>Online "Information"</b> deadline <em>and</em> Senior meeting at 11:40 in the Fellowship Hall to discuss Superlatives and Biographies, Expressions of Thanks, Slideshow Captions and Pictures.
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">December 4th</h4>
        Biographies, Expressions of Thanks, Slideshow Caption, Senior Portraits and 5 pictures Due (1 baby + 4 others)
        <strong><em>This is an important deadline that hast to be ON TIME due to publishing restraints for the yearbook.</em></strong>
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">January 8th</h4>
        Senior Meeting at 11:40 in the Fellowship Hall to vote on Spirit Day themes, Superlatives and discuss Senior Convocation
    </div>
</div>
<div class="media">
 <div class="media-body">
        <h4 class="media-heading">January 27th and 29th</h4>
        Senior Superlatives Picture Day
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">Februrary 10th</h4>
        Yeadbook Ads Due: One congratulatory ad per senior.
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">March 5th</h4>
        Senior Meeting at 11:40 in the Fellowship Hall to finalize Sr. Convocation plans and suggest "exit songs" for graduation; will e-vote in May. <strong>Graduation fee of $75 is due.</strong>
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">April 2nd</h4>
        Brief meeting at 11:40 in the <strong>SANCTUARY</strong> with only those who are leading Senior Convocation.
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">April 16th</h4>
        Senior Convocation
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">April 30th</h4>
        <strong>11:30 Senior Luncheon and Mandatory Meeting in the Fellowship Hall for all seniors and at least on parent.</strong> KEYS will treat you to lunch this day as we pray for you and discuss the graduation ceremony. Robes and chords will be handed out, and instrusctions will be given regarding the graduation ceremony.
    </div>
</div>
<div class="media">
   <div class="media-body">
        <h4 class="media-heading">May 21st</h4>
        Graduation Rehearsal at <strong><em>11:30</em></strong> in the sanctuary. This will be short; eat lunch <em>after</em>.
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">May 22nd</h4>
        <strong><em>GRADUATION!</em></strong> Set up boards at 5:00 & Senior Class Picture at 5:40 in the Fellowship Hall. Ceremony begins at 6:00 and a reception will follow.
    </div>
</div>
