@model dynamic

@{
    ViewBag.Title = "Senior Portrait";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <i class="fa fa-picture-o fa-5x pull-left "></i>
    <h2>Senior Portrait</h2>
    <p>If you do not have the capability to scan old photos that may not be in digital format, please write your name on the back of the photo and put them in an envelope in Cindy Bryan's mailbox in the KEYS office. <em>The baby picture and senior portrait will be in the yearbook and all 6 will be in the senior slideshow.</em></p>
</div>
<hr />

<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new thumbnail" style="width: 400px; height: 350px;">
        <img src="\content\images\male_silhouette.png" alt="...">
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 350px;"></div>
    <div>
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
</div>

