@model GraduationHub.Web.Models.CheckList.StudentExpressionModel

@{
    ViewBag.Title = "Slide Show Caption";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}

<div>
    <i class="fa fa-file-text-o fa-5x pull-left "></i>
    <h2>Slideshow Caption</h2>
    <p>This will be shown on the slideshow beside your senior picture. This should summarize your outlook on life to inspire others through a quote or verse, or just saying what you think is most important to remember as you move into the next chapter of your life</p>
    <p><em>You can see the slideshow from last year on our KEYS Facebook page. Please keep your Slideshow Caption between <strong>25 - 35</strong> words.</em></p>
</div>
<hr />

<div>
    @using (Html.BeginForm("SlideShowCaption", "CheckList", FormMethod.Post))
    {
        @Html.Partial("_StudentTextEditor", Model)
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/simplyCountable")

    <script>
        $(document).ready(function() {
            $("#Text").simplyCountable({
                counter: '#counter',
                countType: 'words',
                maxCount: @Model.TextMaxLength,
                countDirection: 'down',
                strictMax: true
            });
        })
    </script>
}