@{
    ViewBag.Title = "Index";
}

<h2>Graduate Information</h2>
<p>
    Use this page to view the Graduates response to the Graduate Questionaire.
</p>

<table class="table table-striped table-bordered table-condensed" id="dataTable">
    <thead>
        <tr>
            <th rowspan="2"></th>
            <th rowspan="2">Student</th>
            <th colspan="2" class="text-center">KEYS Classes</th>
            <th colspan="2" class="text-center">World View</th>
            <th colspan="4" class="text-center">Graduation</th>
        </tr>
        <tr>
            <th>Fine Arts</th>
            <th>Academic</th>
            <th>KEYS</th>
            <th>Approved</th>
            <th>Participate</th>
            <th>Announcements</th>
            <th>Gap & Gown</th>
            <th>Height</th>
            <th>Diploma Name</th>
            <th>Address</th>
            <th>Student Email</th>
            <th>Parent Email</th>
        </tr>
    </thead>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/datatables")

    <script>
        function format(d) {
            // `d` is the original data object for the row
            return '<table class="table table-condensed" >' +
                '<tr>' +
                '<td>Diploma Name:</td>' +
                '<td>' + d.name + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Address:</td>' +
                '<td>' + d.address + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Student Email:</td>' +
                '<td>' + d.studentEmail + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Parent Email:</td>' +
                '<td>' + d.parentEmail + '</td>' +
                '</tr>' +
                '</table>';
        }

        $(document).ready(function() {
            var table = $('#dataTable').DataTable({
                order: [[1, 'asc']],
                dom: "<'row'<'col-xs-6'T><'col-xs-6'f>>" +
                    "<'row'<'col-xs-12't>>" +
                    "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                processing: true,
                serverSide: true,
                paging: false,
                stateSave: true,
                tableTools: {
                    "sSwfPath": "/Scripts/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls.swf",
                    aButtons: [  {
                        sExtends: 'xls',
                        mColumns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                        sTitle: 'KEYS Graduate Information',
                        sButtonText :'Export to Excel'
                    }]
                },
                ajax: {
                    url: 'GraduateInformation/IndexTable'
                },
                columnDefs: [
                    {
                        targets: [2, 3, 4, 5, 6, 7, 8],
                        className: 'text-center',
                        searchable: false,
                        render: function(data, type, row) {

                            if (data === null) {
                                return '';
                            }

                            return data === true ? 'Yes' : 'No';
                        }
                    }
                ],
                columns: [
                    {
                        "class": 'details-control',
                        "orderable": false,
                        searchable: false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { data: 'studentName' },
                    { data: 'fineArts', searchable: false },
                    { data: 'academicClasses', searchable: false },
                    { data: 'takenKeysWorldView', searchable: false },
                    { data: 'takenApprovedWorldView', searchable: false },
                    { data: 'willParticipateInGraduation', searchable: false },
                    { data: 'willSecureAnnouncements', searchable: false },
                    { data: 'needCapAndGown', searchable: false },
                    { data: 'height', searchable: false, className: 'text-center', },
                    { data: 'name', searchable: false, visible: false, },
                    { data: 'address', searchable: false, visible: false, },
                    { data: 'studentEmail', searchable: false, visible: false, },
                    { data: 'parentEmail', searchable: false, visible: false, }
                ]
            });

            // Add event listener for opening and closing details
            $('#dataTable tbody').on('click', 'td.details-control', function() {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });


    </script>
}