<li>
    <a href="@Url.Action("Index", "Invitations")">
        <span class="fa fa-envelope-o"></span> Invitations
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "FrequentlyAskedQuestions")">
        <span class="glyphicon glyphicon-question-sign"></span> FAQ
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "ImportantDates")">
        <span class="glyphicon glyphicon-calendar"></span> Important Dates
    </a>
</li>


