<li>
    <a href="@Url.Action("Faqs", "CheckList")">
        <span class="glyphicon glyphicon-question-sign"></span> FAQ
    </a>
</li>
<li>
    <a href="@Url.Action("ImportantDates", "CheckList")">
        <span class="glyphicon glyphicon-calendar"></span> Important Dates
    </a>
</li>
