@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}
<p class="lead">Congratulations KEYS Graduating Class of 2015!!</p>
<p>We are so proud of your achievement and want to encourage you to finish the race well this year.
<p class="lead">KEYS Graduation Ceremony Requirements</p>
<ol>
    <li>Must be currently enrolled in at least one KEYS class.</li>
    <li>Successful completion of Worldview Analysis at KEYS or equivalent course of study which has been approved by KEYS</li>
    <li>Fulfillment of Student and Family Ministry Service.</li>
    <li>$75 Graduation Fee <strong>due March 5th</strong></li>
</ol>
<div class="jumbotron">
    <i class="fa fa-facebook-square fa-5x pull-left fa-border"></i>
    <p>We have also created a Facebook group: "KEYS 2015" to facilitate communication; please join to stay updated.</p>
</div>
