@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}
<div class="jumbotron">
    <i class="fa fa-facebook-square fa-4x pull-left fa-border"></i>
    <h3 class="text-center">We have also created a Facebook group to facilitate communication. </h3>
    <p class="text-center">Please join <strong>"KEYS 2016"</strong> to stay updated.</p>
</div>

<h3>Congratulations KEYS Graduating Class of 2016!!</h3>
<p>We are so proud of your achievement and want to encourage you to finish the race well this year.
<p class="lead">KEYS Graduation Ceremony Requirements</p>
<ol>
    <li>Must be currently enrolled in at least one KEYS class.</li>
    <li>Successful completion of Worldview Analysis at KEYS or equivalent course of study which has been approved by KEYS</li>
    <li>Fulfillment of Student and Family Ministry Service.</li>
    <li>$75 Graduation Fee <strong>due March 3rd</strong></li>
</ol>
