@model Boolean?
<div class="checkbox-inline">
    <label style="font-weight: normal">
        @Html.CheckBox("", Model.HasValue && Model.Value) @ViewData.ModelMetadata.DisplayName
    </label>
</div>